# Quy định tất cả file văn bản sử dụng LF
* text=auto eol=lf

# Các file nhị phân không bị thay đổi
*.png binary
*.jpg binary
*.gif binary
*.exe binary
*.dll binary
*.bat text eol=crlf
*.ps1 text eol=crlf
*.log -text
*.csv -text
*.json text eol=lf
*.yml text eol=lf
*.md text eol=lf